*
{
	margin: 0px;
	font-family: Arial, Arial, Helvetica, sans-serif; 
}

a
{
	color:#00F;
}

a:hover
{
	color:#88F;
}

.LeftMenu
{
	border-style:dotted;
	border-width:1px;
	float:left;
	min-height:600px;
	padding:10px;
}

.Article
{
	float:left;
	min-height:600px;
	padding:10px;
}

.ArticleEditor
{
	float:left;
	min-height:600px;
	padding:10px;
}

.ArticleEditor textarea
{
}